html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #071738;
  background: linear-gradient(
    to bottom,
    #071738 0%,
    #071738 75%,
    #eff2f1 75%,
    #eff2f1 100%
  );
}

.leaflet-container {
  background: transparent !important;
}